div.tabs-container .tabs {
    display: flex;
    flex-direction: column;
}

div.tabs-container .tabs__links {
    display: flex;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    order: 0;
    white-space: nowrap;
    background-color: #fff;
    border: 1px solid #e3f2fd;
    box-shadow: 0 2px 4px 0 #e3f2fd;
}

.tabs__links > .lnk {
    display: inline-block;
    text-decoration: none;
    padding: 6px 10px;
    text-align: center;
}